.hero {
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100vh;

	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
	}

	&__title {
		font-family: 'DINPro';
		font-size: 75px;
		color: white;
	}

	&__filter {
		background: rgba(0,0,0,.8);
    border: 5px solid #fff;
    border-radius: 10px;
    color: white;
    padding: 6em 20px 20px; /* padding top is the font size of h1, one line only */
	}

	&__unique {
		background-color: white;
		position: relative;

		span {
			font-size: 6em;
		    left: 0;
		    line-height: 100%;
		    padding-top: 25px; /* padding + border of div */
		    position: absolute; /* position at top left of #containter to sync bg */
		    text-align: center;
		    top: 0;
		    width: 100%;
		    -webkit-text-fill-color: transparent;
		    -webkit-background-clip: text;
		}
	}
}